<h3 style="margin:0px;">The Best Recipe For Every Dish</h3>
    <div style="border-top: 5px solid #000">
        <% @recipes_best.shuffle.each do |best| %>
            <%= render 'list', :best => best %>
        <% end %>
    </div>
    <div class="clear_me"></div>