<% @comments.each do |comment| %>
	<% @commentor = User.find(comment.user_id) %>
	<div class="comments">
		<div class="comment_avatar rounded left">
			<%= image_tag @commentor.avatar.url(:medium)%> 
		</div>
		<div class="comment_box left rounded">
			<%= comment.comment %>
		</div>
	</div>
	<div class="clear_me"></div>
<% end %>