           <div id="comments_wrapper">
             <div id="comments">
                <%= render 'comments' %>
              </div>

              <div id="comments_form">
                <%= render 'comments_form' %>
              </div>
            </div>