          <div class="facts right">
            <%= render "facts" %>
          </div>
          <div class="clear_me"></div>
          <div class="info">
            <%= render "recipe_info" %>
          </div>