<div id="main_recipe" style="background-image: url(<%= @image %>);">
	<h1 id="loser_h1">Not Good Enough!</h1>
	<div style="z-index:1000; position:relative;">
		<h1 class="recipe_title" style="font-size:30px;"><%= @recipe.name %> <span style="font-weight:300;">Challenged</span> <%= @competition.first.name %></h1>
		<h2 style="font-size:35px; text-align:center; text-transform:uppercase; color:#fff;"><span style="font-weight:300;">AND IT WAS</span></h2>
	</div>
</div>
<div id="loser"></div>
</div>