            <% if @recipe.king == false %>
              <div class="left">
                <% if !current_user.nil? %>
                  <div id="love_form">
                    <% if @already_loved.count < 1 %>
                      <%= render 'loves' %>
                    <% else %>
                      <%= render 'loved' %>
                    <% end %>
                  </div>
                <% else %>
                  <%= link_to_modal new_user_session_path do %>
                    <div class="button_selection left rounded" style="width:110px;">Love This Recipe</div>
                  <% end %>
                <% end %>
              </div>
            <% else %>
              <div class="button_selection left rounded" style="width:115px;">
                <%= link_to 'CHALLENGE', new_recipe_path(:challenge => @recipe.dish_id) %><div class="embed_button">Challenge</div>
              </div>
            <% end %>