          <li>
            <a href="#tabs-intro" class="button_selection left rounded">
                  <div>Forks</div>
            </a>
          </li>
          <li>
            <a href="#tabs-chef" class="button_selection left rounded">
              <div>Chef</div>
            </a>
          </li>
          <li>
            <a href="#tabs-pics" class="button_selection left rounded">
              <div>Pics</div>
            </a>
          </li>
          <li>
            <a href="#tabs1-css" class="button_selection left rounded">
              <div>Videos</div>
            </a>
          </li>
          <li>
            <a href="#tabs-comments" class="button_selection left rounded">
              <div>Comment</div>
            </a>
          </li>
          <li>
            <a href="#tabs1-css" class="button_selection left rounded">
              <div>Embed</div>
            </a>
          </li>    
            <% if @recipe.king == false %>
              <div class="left">
                <div id="love_form">
                  <% if @already_loved.count < 1 %>
                    <%= render 'loves' %>
                  <% else %>
                    <%= render 'loved' %>
                  <% end %>
                </div>
              </div>
            <% else %>
              <div class="button_selection left rounded" style="width:200px;">
                <div class="embed_button">Challenge</div>
              </div>
            <% end %>