          <li>
            <a href="#tabs-intro" class="button_selection left rounded">
                  <div>Forks</div>
            </a>
          </li>
          <li>
            <a href="#tabs-chef" class="button_selection left rounded">
              <div>Chef</div>
            </a>
          </li>
          <li>
            <a href="#tabs-pics" class="button_selection left rounded">
              <div>Pics</div>
            </a>
          </li>
          <li>
            <a href="#tabs-video" class="button_selection left rounded">
              <div>Videos</div>
            </a>
          </li>
          <li>
            <a href="#tabs-comments" class="button_selection left rounded">
              <div>Comment</div>
            </a>
          </li>
          <li>
            <a href="#tabs-embed" class="button_selection left rounded">
              <div>Embed</div>
            </a>
          </li>    
            <%= render "lover_boy" %>