          <li>
            <a href="#tabs-intro" class="button_selection left rounded">
                  <div class="fork_icon"></div>
            </a>
          </li>
          <li>
            <a href="#tabs-chef" class="button_selection left rounded">
              <div class="chef_icon"></div>
            </a>
          </li>
          <li>
            <a href="#tabs-pics" class="button_selection left rounded">
              <div class="pic_icon"></div>
            </a>
          </li>
          <li>
            <a href="#tabs-video" class="button_selection left rounded">
              <div class="video_icon"></div>
            </a>
          </li>
          <li>
            <a href="#tabs-comments" class="button_selection left rounded">
              <div class="comment_icon"></div>
            </a>
          </li>
          <li>
            <a href="#tabs-embed" class="button_selection left rounded">
              <div class="embed_icon"></div>
            </a>
          </li>    
            <%= render "lover_boy" %>