<div class="comment-love">
	<h3>Recipe Pictures</h3>
	<% @recipe.recipe_images.each do |image| %>
		<div class="pictures_view rounded fade" style="background-color:#000;">
			<%= link_to image.photo.url, class: "fancybox" do %>
				<%= image_tag image.photo.url(:big) %>
			<% end %>
		</div>
	<% end %>
</div>