<h1>The Very Best Recipes</h1>
<p>On <b>RecipeRoyalty.com</b> there is no room for the good or even the great. We only have the SINGLE BEST recipe for each listed dish. The recipes have been vetted by the community and each has been approved by experts in blind taste test. So you know you are only cooking and tasting the very best!</p>


<% if params[:search] %>
    <% if @recipes_search.count > 0 %>
        <%= render 'search' %>
    <% else %>
        <div style="margin-top:40px;">
            There are no matches for that search. Please try again. One word searches work best.
            <%=link_to_modal 'Search Again', search_path  %>
        </div>
    <% end %>

<% elsif params[:category]%>
    <%= render "category_specific"%>
<% else %>
    <%= render "categories"%>
<% end %>