<div class="about">
	<h1 style="font-size:34px;">Our Recipes are the F%$KIN BEST?</h1>
	<p>We <i>know</i> that our recipes are the SINGLE BEST for each listed dish, because each recipe is carefully vetted by our two part system.<p>

	<h4 style="margin-top:15px;">One Part Democracy</h4> 
	<p>First the recipes are vetted by the community. A recipe has to challenge a current King Recipe. Then it has only 30 days to garner 1,000 loves from the community. Our community knows that a love means 11 out of 10 and nothing less. But, we don't leave our recipes up to ratings - that only proves that it's worthy of step 2.</p>

	<h4 style="margin-top:15px;">One Part Experts Know Best</h4>
	<p>If a Recipe gets the 1,000 loves, it is entered into a blind taste test. The recipe is cooked exactly as written and goes head to head with the current King recipe. The judges - trained chefs and food critiques - decide who is really the BEST. The losing recipe is banished and the winner becomes the King.</p>

	<p>Think yours is better? Put your recipe where your mouth is and <span style="font-weight:bold;color: #ee3335;"><%= link_to 'PROVE IT >>', new_recipe_path %></span></p>
</div>