<div class="about">
	<h1 style="font-size:34px;">Only The Single BEST RECIPE</h1>
	<p>We <i>know</i> that our recipes are the SINGLE BEST for each listed dish, because each recipe is carefully vetted by our two part system.<p>
	<div style="margin-top:25px;"></div>
	<h4 style="margin-top:15px;"><b>PART ONE:</b> The Community Nominates</h4> 
	<p>In order for a recipe to become the best it has to first challenge a current King Recipe. Then it has 30 days to garner 1,000 loves from the community. Our community has been known to have above average tastebuds that are quite picky, so love really means something. But, we don't leave our recipes up to loves alone - that is only part 1.</p>
	<div style="margin-top:25px;"></div>
	<h4 style="margin-top:15px;"><b>PART TWO:</b> Blind Taste Tested By Experts</h4>
	<p>If a Recipe receives 1,000 loves in 30 days, it is automatically entered into a blind taste test with the King Recipe it challenged. Each recipe is cooked exactly as written and they go head to head. The judges - trained chefs and food critiques - decide who is really the BEST. The losing recipe is banished and the winner becomes the King.</p>
<p></p>
	<p><b>Think you have a better recipe?</b> Put your recipe where your mouth is and <span style="font-weight:bold;color: #ee3335;"><%= link_to 'PROVE IT >>', new_recipe_path %></span></p>
</div>