<h1>Static#about</h1>
<p>Find me in app/views/static/about.html.erb</p>

<p><%=  link_to_modal "Sigin", new_user_session_path, :class=>"button" %></p>
<p><%=  link_to_modal "New User", new_user_registration_path, :class=>"button" %></p>