<div class="flexslider">
  <ul class="slides">
    <li>
      <img class="image_stretch" class="image_stretch" src="https://d1qpxsaxxi4rth.cloudfront.net/uploads/image/image/12349/1944_lamb_rogan_josh_with_lemon_and_coriander_rice.jpg" />
    </li>
    <li>
      <img class="image_stretch" src="https://d2k1ltnv50s8je.cloudfront.net/uploads/image/image/8771/catfish_banh_mi.jpg" />
    </li>
    <li>
      <img sclass="image_stretch" src="https://d11773osauusiq.cloudfront.net/uploads/image/image/10726/roastchicken_garlicsauce.jpeg" />
    </li>
  </ul>
</div>
<div id="home_middle">
	<h2>
		<span style="text-transform:uppercase;">There Can Only Be One <span class="bolded_headline">BEST</span>.</span> </br>
		<span style="font-size:32px;">Find Only The Single <span class="bolded_headline">GREATEST RECIPE</span>  For Every Dish.</span> 
	</h2>
</div>

<div id="home_bottom">
	<% @featured.each do |feature| %>
		<%= link_to(feature) do %>
		<div class="feature_view rounded global_shadow fade">
			<%= image_tag feature.recipe_images.first.photo.url if feature.recipe_images.count > 0 %>
			<p class="feature_text"><%= feature.name %></p>
		</div>
		<% end %>
	<% end %>
</div>
<div class="clear_me"></div>
<p style="text-align:right; margin-right:10%;"><%= link_to 'View All Recipes >>', recipes_path %></p>
