h1 {
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
}
ul {
	list-style-type: none;
}

.alertfull {
	z-index: 10;
	position: absolute;
	width: 90%;
	padding: 8px 35px 8px 14px;
	margin-bottom: 20px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #FCF8E3;
	border: 1px solid #FBEED5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-left: 10px;
	margin-top: 10px;
}
#home_middle h2 {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 38px;
}

h3, h4{
	letter-spacing: -2px;
}

h4 {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 22px;
}

.hidden {
	display: none;
}

.bolded_headline {
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
}

.rounded {
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.global_shadow {
	-moz-box-shadow: 0 0 5px #373737;
	-webkit-box-shadow: 0 0 5px #373737;
	-o-box-shadow: 0 0 5px #373737;
	box-shadow: 0 0 5px #373737;
}

.clear_me {
	clear: both;
}

.left{float:left;}

.right{float:right;}

.logo {
	width: 100px;
}

a.brand.logo:hover {
	background-color:#000; 
}

nav.navbar-inner {
	background: #000;
}

.navbar .nav > li > a {
	color: #fff;
	text-shadow: 0 0 0 #000;
	font-weight: normal;
	font-size: 15px;
}

.navbar .nav > li > a:hover {
	color: #ee3335;
	text-shadow: 0 0 0 #000;
	font-weight: normal;
}

a, a:visited, .content a:visited  {
	color: #ee3335;
}

a:hover {
	color: #000;
	background-color: #fff;
}

a.about:hover {
	color: #ee3335;
	background-color: #fff;
}

p a:hover {
	color: #000;
	background-color: #fff;	
}

.form-inputs a {
	color: #0097C7;
}

.navbar .brand {
	padding: 2px 20px 3px;
}

.navbar .nav {
	padding: 10px;
}

#profile_top {
	border-bottom: solid 3px black;
	width: 100%;
	padding: 20px 0 5px; 
}

#profile_left h1 {
	line-height: 20px;
}

#profile_left {
	width: 50%;
	padding-top: 15px;
}

#profile_right {
	width:50%;
}

#profile_right p {
	font-size: 10px;
}

.img_shape {
	max-width: 100%;
	width: 100%;
}

.img_profile {
	width: 200px;
	overflow: hidden;
}

.small_recipe_view {
	width:325px;
	margin: 20px 40px 20px 0;
}
.small_recipe_view_img {
	width:100px;
	overflow: hidden;
}
.small_recipe_view_text {
	margin: 0 0 0 10px;
	font-family: 'Roboto', sans-serif;
	text-align: left;
}

.profile_recipes {
	margin:0 0 50px 0;
	width: 100%;
}



input[type="text"], input[type="password"], input[type="email"] {
 height: 35px;
 width: 400px;
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 border-radius: 5px;
 background: #f7fbfe;
 padding-left: 10px;
 font-size: 15px%;
 /*box-shadow:0px 0px 1px #5E5E5E;*/
}

textarea {
 height: 200px;
 width: 400px;
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 border-radius: 5px;
 background: #f7fbfe;
 padding-left: 10px;
 font-size: 15px;
 /*box-shadow:0px 0px 1px #5E5E5E;*/
}

input[type="submit"] {
	width: 400px;
	height: 50px;
	font-size: 22px;
	font-family: 'Roboto', sans-serif;
	font-weight: 700; 
}

#love_form input[type="submit"] {
	font-size: 22px;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	width: 200px;
	height: 55px;
	text-transform: uppercase;
}

.form-actions {
	background-color: #fff;
	border-top: 0px solid;
	padding: 19px 0px 20px; 
}

.image_stretch {
	width: 100%;
}
.flexslider {
    width: 100%;
    height: 450px;
    overflow: hidden;
    margin: 0 0 20px;
}

.flexslider .slides img {
    width: 100%;
    overflow: hidden;
}

#home_middle {
	padding: 10px;
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
	text-align: center;
}

#home_bottom {
	width: 85%;
	margin: 10px auto;
	text-align: center;
}

.feature_view {
	position: relative;
	float: left;
	width: 250px;
	height: 275px;
	margin:20px 40px 20px 0;
	overflow: hidden;
	background-color: #000;
}

.feature_view img {
	max-width: none;
}

.feature_text { 
   position: absolute; 
   top: 200px; 
   left: 0; 
   width: 100%;
   text-align: center;

   color: white; 
   font: 500 18px 'Roboto', sans-serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.6);
   padding: 20px 0px;
   text-transform: uppercase;
   text-shadow: 2px 2px 2px #000;
   filter: dropshadow(color=#000, offx=2, offy=2);

}


.fade {
	opacity: 1;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
}

.fade:hover {
    opacity: 0.5;
}

.helper_box {
	margin-right: 10%;
	background: rgb(243, 243, 243);
	padding: 25px 15px;
	border: 1px solid rgb(235, 235, 235);
}


#main_recipe {
	position:relative;
	width: 100%;
	height:700px;
	overflow: hidden;
	background-repeat:no-repeat
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	margin: 0 0 10px 0;
}

h1.recipe_title {
	text-transform: uppercase;
	color:#fff;
	font-weight: 700;
	padding: 15px 0;
	text-align: center;
	margin: 0px;
	border-top: 3px solid #fff;
	border-bottom: 3px solid #fff;
}

.closed {
	position: absolute; 
	bottom: 0px;
	height: 125px;
	width: 70%;
	background: rgba(0, 0, 0, .75);
	margin-left: 200px;
	padding: 0px;
}

.closed_tab {
	position: absolute; 
	bottom: 125px;
}

.tab {
	width: 175px;
	height:35px;
	background: rgba(0, 0, 0, .75);
	margin-left: 40%;
	color: #fff;
	text-align: center;
	border-radius: 10px 10px 0 0;
	border: 1px solid #818181;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
}

.open_view {
	margin: 10px;
	color: #fff;
	display: none;
}

.open {
	background: rgba(0, 0, 0, .75);
	width: 80%;
	margin: auto;
	height: 653px;
}
.scrollable-area {
	height:493px;
	width: 100%;
	overflow: scroll;
}
.recipe_footer {
	position: absolute; 
	bottom: 0px;
	height: 50px;
	border-top: 1px solid #fff;
	width: 75%;
	padding: 10px;
	margin-left: 10px;
}

.intro {
	position: relative;
}

.info {
	margin: 0 35px 0 25px;
}

.facts {
	position: absolute; 
	background: #fff;
	color: #000;
	width: 300px;
	padding: 5px;
	top: -10px;
	right: 0px;
}

.fact {
	margin: 0 10px;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	line-height: 13px;
}

.fact_bold {
	font-weight: 900;
	text-transform: uppercase;
	font-size: 14px
}

.chef-love {
	margin:20px auto 0 auto;
	width: 55%;
}

.chef_image img {
	margin: 10px 10px 10px 0;
}

.chef_info {
	padding: 60px 0 0 0;
}
.sign_container {
	width:80%;
}



.challenger_bar {
	background: rgba(0, 0, 0, .75);
	width: 100%;
	margin: 20px auto;
	color: #fff;
}
.challenger_bar h1 {
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
	text-transform: uppercase;
}

.inner_challenger_bar {
	width:60%;
	margin: auto;
	padding: 3px 0;
}

.inner_challenger_bar p {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 15px;
}


.button_selection {
	font-size: 14px;
	line-height: 20px;
	height:55px;
	width: 55px;
	text-align: center;
	vertical-align: middle;
	color: #333333;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	cursor: pointer;
	background-color: #ebebeb;
	background-image: -moz-linear-gradient(top, #ebebeb, #a7a7a7);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ebebeb), to(#a7a7a7));
	background-image: -webkit-linear-gradient(top, #ebebeb, #a7a7a7);
	background-image: -o-linear-gradient(top, #ebebeb, #a7a7a7);
	background-image: linear-gradient(to bottom, #ebebeb, #a7a7a7);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb', endColorstr='#a7a7a7', GradientType=0);
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	border: 1px solid #cccccc;
	border-bottom-color: #b3b3b3
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	margin:0 20px;

}

.button_selection:hover {
	background-color: #A8A8A8;
	background-image: -moz-linear-gradient(top, #A8A8A8, #6F6F6F);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#A8A8A8), to(#6F6F6F));
	background-image: -webkit-linear-gradient(top, #A8A8A8, #6F6F6F);
	background-image: -o-linear-gradient(top, #A8A8A8, #6F6F6F);
	background-image: linear-gradient(to bottom, #A8A8A8, #6F6F6F);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A8A8A8', endColorstr='#6F6F6F', GradientType=0);
}


a.button_selection {
	text-decoration: none;
}

a.button_selection.active {
	color:#fff;
	background-color: #ee3335;
	cursor: pointer;
	border-color: none;
	border: none;
	border-bottom-color: none;
    -moz-box-shadow: inset 2px 2px 4px #181818;
    -webkit-box-shadow: inset 2px 2px 4px #181818;
    box-shadow: inset 2px 2px 4px #181818;

   	background-image: -moz-linear-gradient(top, #ee3335, #ee3335);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee3335), to(#ee3335));
	background-image: -webkit-linear-gradient(top, #ee3335, #ee3335;
	background-image: -o-linear-gradient(top, #ee3335, #ee3335);
	background-image: linear-gradient(to bottom, #ee3335, #ee3335);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee3335', endColorstr='#ee3335', GradientType=0);
}


