h1 {
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
}

#home_middle h2 {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 38px;
}

h3, h4{
	letter-spacing: -2px;
}

h4 {
	font-weight: 300;
}

.hidden {
	display: none;
}

.bolded_headline {
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
}

.rounded {
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.global_shadow {
	-moz-box-shadow: 0 0 5px #373737;
	-webkit-box-shadow: 0 0 5px #373737;
	-o-box-shadow: 0 0 5px #373737;
	box-shadow: 0 0 5px #373737;
}

.clear_me {
	clear: both;
}

.left{float:left;}

.right{float:right;}

.logo {
	width: 100px;
}

a.brand.logo:hover {
	background-color:#000; 
}

nav.navbar-inner {
	background: #000;
}

.navbar .nav > li > a {
	color: #fff;
	text-shadow: 0 0 0 #000;
	font-weight: normal;
	font-size: 15px;
}

.navbar .nav > li > a:hover {
	color: #ee3335;
	text-shadow: 0 0 0 #000;
	font-weight: normal;
}

a, a:visited {
	color: #ee3335;
}

a:hover {
	color: #000;
	background-color: #fff;
}

.form-inputs a {
	color: #0097C7;
}

.navbar .brand {
	padding: 2px 20px 3px;
}

.navbar .nav {
	padding: 10px;
}

#profile_top {
	border-bottom: solid 3px black;
	width: 100%;
	padding: 10px 0;
}

#profile_left h1 {
	line-height: 20px;
}

#profile_left {
	width:42%;
}

#profile_right {
	width:40%;
}

.img_shape {
	max-width: 100%;
	width: 100%;
}

.img_profile {
	width: 200px;
	overflow: hidden;
}

.small_recipe_view {
	width:325px;
	margin: 20px;
}
.small_recipe_view_img {
	width:100px;
	overflow: hidden;
}
.small_recipe_view_text {
	margin: 0 0 0 10px;
	font-family: 'Roboto', sans-serif;
	text-align: left;
}

.profile_recipes {
	margin:0 0 50px 0;
	width: 100%;
}



input[type="text"], input[type="password"], input[type="email"] {
 height: 35px;
 width: 400px;
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 border-radius: 5px;
 background: #f7fbfe;
 padding-left: 10px;
 font-size: 15px%;
 /*box-shadow:0px 0px 1px #5E5E5E;*/
}

textarea {
 height: 200px;
 width: 400px;
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 border-radius: 5px;
 background: #f7fbfe;
 padding-left: 10px;
 font-size: 15px;
 /*box-shadow:0px 0px 1px #5E5E5E;*/
}

input[type="submit"] {
	width: 400px;
	height: 50px;
	font-size: 22px;
	font-family: 'Roboto', sans-serif;
	font-weight: 700; 
}

.form-actions {
	background-color: #fff;
	border-top: 0px solid;
	padding: 19px 0px 20px; 
}

.image_stretch {
	width: 100%;
}
.flexslider {
    width: 100%;
    height: 450px;
    overflow: hidden;
    margin: 0 0 20px;
}

.flexslider .slides img {
    width: 100%;
    overflow: hidden;
}

#home_middle {
	padding: 10px;
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
	text-align: center;
}

#home_bottom {
	width: 85%;
	margin: 10px auto;
	text-align: center;
}

.feature_view {
	position: relative;
	float: left;
	width: 250px;
	height: 275px;
	margin:20px;
	overflow: hidden;
	background-color: #000;
}

.feature_view img {
	max-width: none;
}

.feature_text { 
   position: absolute; 
   top: 200px; 
   left: 0; 
   width: 100%;
   text-align: center;

   color: white; 
   font: 500 18px 'Roboto', sans-serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.6);
   padding: 20px 0px;
   text-transform: uppercase;
   text-shadow: 2px 2px 2px #000;
   filter: dropshadow(color=#000, offx=2, offy=2);

}


.fade {
	opacity: 1;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
}

.fade:hover {
    opacity: 0.5;
}

.helper_box {
	margin-right: 10%;
	background: rgb(243, 243, 243);
	padding: 25px 15px;
	border: 1px solid rgb(235, 235, 235);
}


#main_recipe {
	position:relative;
	width: 100%;
	height:700px;
	overflow: hidden;
	background-repeat:no-repeat
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	margin: 0 0 10px 0;
}

h1.recipe_title {
	text-transform: uppercase;
	color:#fff;
	font-weight: 700;
	padding: 15px 0;
	text-align: center;
	margin: 0px;
	border-top: 3px solid #fff;
	border-bottom: 3px solid #fff;
}

.closed {
	position: absolute; 
	bottom: 0px;
	height: 125px;
	width: 70%;
	background: rgba(0, 0, 0, .75);
	margin-left: 200px;
	padding: 0px;
}

.closed_tab {
	position: absolute; 
	bottom: 125px;
}

.tab {
	width: 175px;
	height:35px;
	background: rgba(0, 0, 0, .75);
	margin-left: 40%;
	color: #fff;
	text-align: center;
	border-radius: 10px 10px 0 0;
	border: 1px solid #818181;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
}

.open_view {
	margin: 10px;
	color: #fff;
}

.open {
	background: rgba(0, 0, 0, .75);
	width: 80%;
	margin: auto;
	min-height: 653px;
}

.recipe_footer {
	position: absolute; 
	bottom: 0px;
	height: 125px;
	border-top: 1px solid #fff;
	width: 75%;
	padding: 10px;
	margin-left: 10px;
}